.about {
    font-family: var(--fontRU);
    margin-top: 7px;
}

/* .about__content {
} */

.about__title {
    font-size: var(--fontTitle);
    font-weight: 600;
    margin-bottom: 3px;
}

/* .about__main-block {
} */

.about__block {
    display: flex;
    column-gap: 25px;
}

.about__img {
    height: calc(400px + 12vw);
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: 5px 5px 10px #00000055;
    max-height: 1120px;
}

.about__img:hover {
    border-radius: 20px;
}

.about__text {
    font-size: clamp(0.5rem, 0.461rem + 1.263vi, 1.25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__paragraph {
    margin: 0;
    padding: 0;
}

.about__paragraph span {
    font-family: var(--fontEN);
    font-weight: 500;
}

.about__interior {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
}

.about__interior img {
    height: calc(150px + 14vw);
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: 5px 5px 10px #00000055;
    border: 2px solid black;
    max-width: 580px;
    max-height: calc(580px / 3 * 4);
}

.about__interior img:hover {
    border-radius: 20px;
}

@media(max-width: 1150px) {
    .about__block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 25px;
    }

    .about__img {
        height: auto;
        width: calc(200px + 20vw);
    }

    .about__img:hover {
        border-radius: 10px;
    }

    .about__img:active {
        border-radius: 20px;
    }

    .about__text {
        justify-content: center;
        row-gap: 20px;
    }

    .about__interior {
        flex-wrap: wrap;
    }

    .about__interior img:hover {
        border-radius: 10px;
    }

    .about__interior img:active {
        border-radius: 20px;
    }
}